sandbox_mode = "danger-full-access"
approval_policy = "untrusted"
model = "gpt-5.4"
model_reasoning_effort = "high"

[mcp_servers.figma]
url = "https://mcp.figma.com/mcp"

[mcp_servers.context7]
enabled = true
url = "https://mcp.context7.com/mcp"

[mcp_servers.context7.http_headers]
CONTEXT7_API_KEY = "${CONTEXT7_API_KEY}"

[mcp_servers.playwright]
args = [ "@playwright/mcp@latest" ]
command = "npx"

[mcp_servers.pencil]
command = "/Applications/Pencil.app/Contents/Resources/app.asar.unpacked/out/mcp-server-darwin-arm64"
args = [ "--app", "desktop" ]

[sandbox_workspace_write]
network_access = true
